* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  background: white;
}

/* Navigation Bar */

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  top: 0;
  position: fixed;
  width: 100%;
  /* border: 1px solid red; */
}

.nav-container > div {
  text-align: center;
  flex: 1 1 auto;
  padding: 0.5rem;
  border: none;
  /*border: 1px solid red; */
}

.nav-mid {
  background: blueviolet;
}

.heading {
  background: black;
  color: white;
  margin-left: 0;
}

ul {
  list-style: none;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  letter-spacing: 0.25rem;
  text-decoration: none;
}

.media-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background: beige;
  border: transparent;
}

img {
  width: 30px;
}

/* end of navigation bar */

/* ----------------- empty section ------------------ */
.empty {
  background: white;
  width: 100vw;
  height: 200px;
}
/* ---------------- end of emptysection ------------ */

/* ---------------- news-section --------------------*/
.news-section {
  display: flex;
  flex-direction: row;
}

.news-section > div {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.5rem;
}

.column img {
  width: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .news-section {
    flex-direction: column;
  }
}

.border {
  height: 2px;
  background: black;
  width: 22vw;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}
/* ------------- end of news-section ----------------- */

/* ------------- astronomy section ------------------ */

.astroheading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.astronomy-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.astronomy-section div {
  padding: 0.5rem;
}

.astrocolumn img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.astrocolumn h3,
p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .astronomy-section {
    flex-direction: column;
  }
}
/* ---------- end of astronomy section -------------- */
